# Simulation output specifications
    output_folder           ../results/Inceptionv3/1024-ideal
    stat_output_file        sim_result
# Simulation input specifications
    tensor_info_file        ../results/Inceptionv3/sim_input/1024Tensor.info
    kernel_info_file        ../results/Inceptionv3/sim_input/1024Kernel.info
    kernel_aux_time_file    ../results/Inceptionv3/sim_input/1024AuxTime.info
# System specifications
    system_latency_us       45
# CPU specifications
    CPU_PCIe_bandwidth_GBps 15.754
    CPU_memory_line_GB      128
# GPU specifications
    GPU_memory_size_GB      40
    GPU_frequency_GHz       1.2
    GPU_PCIe_bandwidth_GBps 15.754
    GPU_malloc_uspB         0.000000814
# SSD specifications
    SSD_PCIe_bandwidth_GBps 3.2
    SSD_read_latency_us     12
    SSD_write_latency_us    16
    SSD_latency_us          20
# PCIe specifications
    PCIe_batch_size_page    50
# Simulation parameters
    is_simulation           1
    is_ideal                1
    num_iteration           2
    eviction_policy         LRU
    use_movement_hints      0